@charset "UTF-8";
@import "./montserrat-font.css";
@import "./assets/icons/index.css";

:root {
  --white-color: #fff;
  --black-color: #000;
  --pink-color: #eb2b63;
  --pink-color-2: #eb2bae;

  --bg-white-secondary: #f5f1f8;
  --bg-amaranth-mov-color: #491f70;
  --bg-tolopea-color: #200545;
  --bg-black-rock-color: #1b043b;

  --text-gray-light: #acacac;
  --text-gray-dark: #585858;
  --text-darker-1: #1c1c1c;
  --text-darker-2: #212529;
  --text-blue: #007bff;

  --main-duration-time: 0.3s;
  --duration-time-4: 0.4s;
}

html {
  scroll-behavior: smooth;
}

body {
  /* height: 20000px; */
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden !important;
}

body::-webkit-scrollbar {
  width: 0;
  border-radius: 4.5rem;
  background-color: transparent !important;
}

body::-webkit-scrollbar-track {
  background-color: transparent !important;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

body::-webkit-scrollbar-track-piece {
  display: none;
}

section {
  padding-block: 10rem;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.transitions-3 {
  transition: all var(--main-duration-time) ease-in-out;
}

.border-pink {
  border-color: var(--pink-color);
}

.p-half {
  padding: 2.3rem;
}

.text-black {
  color: var(--black-color);
}

@media (max-width: 991px) {
  .navbar-nav {
    padding-block: 1.3rem;
    border-radius: 1rem;
    margin-top: 2rem;
    background-color: var(--white-color) !important;
    color: var(--black-color) !important;
    box-shadow: 0 10px 10px #24242417;
  }
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler {
  background-color: var(--white-color) !important;
}

.navbar-logo-invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.nav-item-link:hover {
  color: var(--pink-color) !important;
  transition: color var(--duration-time-4) ease-in-out;
}

@media (max-width: 991px) {
  .nav-item {
    width: 100%;
    display: block;
    text-align: center;
    margin-block: 0.6rem;
  }

  .nav-item-link {
    color: var(--black-color) !important;
  }
}

.w-70 {
  width: 70%;
}

@media (min-width: 300px) and (max-width: 991px) {
  .landing-text {
    text-align: center;
  }

  .landing-text p:first-child {
    font-size: calc(1.3rem + 3.9vw);
  }
}

@media (max-width: 991px) {
  .landing-img {
    display: none;
  }
}

.custom-bg-pink {
  background-color: var(--pink-color);
}

.website-name {
  background-color: rgb(238, 246, 249);
}

.website-name:focus {
  outline: none !important;
}

.skill-line-container {
  width: 100%;
  height: 0.44rem;
  margin-block: 1.3rem;
  border-radius: 1rem;
  position: relative;
  background-color: #eef6f9;
}

.skill-line-child {
  height: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}

.skill-number {
  position: absolute;
  top: -2.4rem;
}

.testimonials__say {
  width: 100%;
  padding: 1.3rem;
  border-radius: 1.2rem;
  position: relative;
  background-color: var(--bg-white-secondary);
}

.social-link {
  width: 2.2rem;
  height: 2.2rem;
  padding: 1.2rem;
  margin-inline-end: 0.7rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-amaranth-mov-color);
  color: white;
}

.social-link:hover {
  background-color: var(--bg-amaranth-mov-color);
  color: white;
}

.testimonials__say::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -10px;
  right: 35px;
  background-color: var(--bg-white-secondary);
  transform: rotate(45deg);
  z-index: -1;
}

.price-card__body ul li {
  margin-block: 1.7rem;
  text-transform: capitalize;
}

.useful-item {
  margin-bottom: 0.6rem;
}

.useful-link,
.useful-link:hover {
  color: var(--text-gray-light);
  font-size: 0.84rem;
}

.team-link {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.1rem;
  border-radius: 50%;
  background-color: var(--bg-tolopea-color);
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}

.team-link:hover {
  background-color: var(--pink-color);
  color: var(--white-color);
}

.first-col,
.second-col,
.third-col {
  padding-block: 5rem;
  padding-inline: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.custom-grid {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
}


@media (max-width: 767px) {
  .custom-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
  .custom-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .third-col {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1100px) {
  .custom-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .third-col {
    grid-column: auto;
  }
}

.accordion-button {
  padding-block: 1.4rem;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button::after {
  content: none;
}

.accordion-button::before {
  content: '+';
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  right: 2.5%;
  transform: translateY(-50%);
  font-size: 2rem;
}

.animated {
  animation-name: landing-img-animations;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-fill-mode: backwards;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

@keyframes landing-img-animations {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(10px, 10px);
  }

  40% {
    transform: translate(-20px, -20px);
  }

  100% {
    transform: translate(0, 0);
  }
}